.app-header{
    margin: 0;
    padding: 0;
    position: relative;
.container{
    display: flex;
    align-items: center;
    justify-self: space-between;
}
.login-btn{
    color: rgb(255, 255, 255);
    background-color: rgb(248, 68, 100);
    font-size: 12px;
   
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgb(248, 68, 100);
    display: block;
}
.header-btn{
    height: 25px;
    line-height: 1;
    width: 67px;
}

img{
    height: 55px;
}
.navbar-logo{
    cursor: pointer;
}
}

