.wrapper{
    background-color:rgb(255, 255, 255) ;
    border-bottom: 1px solid rgb(109, 109, 109);
   padding: 0;
}
.movie-details{
   
  padding-top: 50px;
    padding-bottom: 10px;
 
 .title-text{
    font-weight: 500;

 }.genre-badge{
    margin-right: 8px;
 }.ua-badge{
    border-radius: 100%;
 }
}