.mySwiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
  }
  
  .card {
    width: 100%;
    max-width: 300px; /* Adjust the width as needed */
    margin: 0 auto;
  }
  
  